<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房产管理首页</title>
    <link rel="stylesheet" href="/dist/admin-login.css">
</head>
<body>
<div class="container">
    <div class="header">
    <div class="row">
        <div class="col-md-8 col-md-push-2">
                <div class="logo">
                    <i class="user-logo"></i>
                </div>
                <div class="info">
                    <span>第一次使用房产管理平台？<a href="#">立即注册</a> <span class="grey">|</span>  <a href="#">使用帮助</a> </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cr">
            <div class="login-frame">
                <form action="/">
                    <span class="form-header">登录</span>
                    <div class="form-control">
                        <i class=""></i>
                        <input type="text" class="">
                    </div>
                    <div class="form-control">
                        <i class=""></i>
                        <input type="text" class="">
                    </div>
                    <input type="checkbox"><span>记住账号</span>
                    <span class="fr">无法登录？</span>
                    <button classs="btn login-btn">登录</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/dist/admin-login.js"></script>
</html>