<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>房产管理首页</title>
    <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>    
    <link rel="stylesheet" href="/dist/admin-login.css">
</head>
<body>
<div class="cr">
    <div class="header_cr">
        <div class="header">
                <div class="logo">
                    <i class="fa fa-building-o"></i>
                    <span class="user-logo css483c41965659d">房产·管理平台</span>
                </div>
                <!--<div class="info">-->
                    <!--<span>第一次使用房产管理平台？<a href="#">立即注册</a> <span class="grey">|</span>  <a href="#">使用帮助</a> </span>-->
                <!--</div>-->
            </div>
    </div>
        <div class="login_cr">
            <div class="login-info-1 css483c41965659d">
                买<br/>房<br/>办<br/>产<br/>权<br/>
            </div>
            <div class="login-info-2 css483c41965659d">
                普<br/>法<br/>天<br/>天<br/>宣<br/>
            </div>
            <div class="login-frame">
                <form action="/login">
                    <div class="form-header">登录</div>
                    <div class="login-input">
                        <i class="icon-user inline-form"></i>
                        <input type="text" id="name" name="name" class="form-control" placeholder="输入账户名">
                    </div>
                    <div class="login-input">
                        <i class="icon-password inline-form"></i>
                        <input type="password" id="pwd" name="pwd" class="form-control" placeholder="输入密码">
                    </div>
                    <div class="login-panel">
                        <!--<i class="icon-checkbox"></i>-->
                        <input type="checkbox" id="check1" name="check">
                        <label for="check1"></label>
                        <span>记住账号</span>
                    </div>
                    <div class="login-btn-panel">
                        <div class="login-btn" >登录</div>
                    </div>
                </form>
            </div>
        </div>
</div>
<script type="text/javascript">
   $youziku.load(".css483c41965659d", "23454e5ace25417ba7be87260175cf75", "RS_XingKai");
   $youziku.draw();
</script>
</body>
<script src="/dist/admin-commons.js"></script>
<script src="/dist/admin-login.js"></script>
</html>