<% extend './admin_shared/admin-base' %>
<% block 'head': %>
<link rel="stylesheet" href="/dist/admin-set-material-kind.css">
<% end %>
<div class="cr-all">
<div class="container-fluid">
    <div class="row">
            <div class="cr">
            <div class="header-list-panel">
                <div class="header-list-title">
                    <i class="fa fa-tag"></i>
                    <span class="grey">登记管理 &nbsp;/&nbsp; </span>
                    <span class="black">文件种类管理</span>
                </div>
                <div class="header-list-add">
                    <div class="btn btn-green">创建文件</div>
                </div>
            </div>
            </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="table-cr">
            <div class="table-header-panel">
                <div class="table-header-item">
                    文件列表
                </div>
            </div>
            <div class="table-body">
                <div class="search-panel">
                    <div class="select">
                        <select name="search" id="search" class="form-control">
                            <option value="1">文件编号</option>
                        </select>
                    </div>
                    <div class="search-group">
                        <i class="fa fa-search"></i>
                        <input type="text" class="input-group" placeholder="请输入搜索内容">
                    </div>
                    <div class="btn btn-search">
                        搜索
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<% block 'scripts': %>
<script src="/dist/admin-set-material-kind.js"></script>
<% end %>