<% extend './admin_shared/admin-base' %>
<% block 'head': %>
<link rel="stylesheet" href="/dist/admin-set-material-kind.css">
<% end %>

<div class="container-fluid">
    <div class="row">
            <div class="cr">
            <div class="header-list-panel">
                <div class="header-list-title">
                    <i class="fa fa-tag"></i>
                    <span class="grey">登记管理 &nbsp;/&nbsp; </span>
                    <span class="black">文件种类管理</span>
                </div>
                <div class="header-list-add">
                    <div class="btn btn-green">创建文件</div>
                </div>
            </div>
            </div>
    </div>
</div>

<% block 'scripts': %>
<script src="/dist/admin-set-material-kind.js"></script>
<% end %>