<% extend './admin_shared/admin-base' %>
<% block 'head': %>
<link rel="stylesheet" href="/dist/admin-set-material-kind.css">
<% end %>
<div class="cr-all" ng-controller="MainCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="cr">
                <div class="header-list-panel">
                    <div class="header-list-title">
                        <i class="fa fa-tag"></i>
                        <span class="grey">登记管理 &nbsp;/&nbsp; </span>
                        <span class="black">材料种类管理</span>
                    </div>
                    <div class="header-list-add">
                        <div class="btn btn-green" ng-click="createFile()">创建材料</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="table-cr">
                <div class="table-header-panel">
                    <div class="table-header-item">
                        材料列表
                    </div>
                </div>
                <div class="table-body">
                    <div class="search-panel" ng-controller="tableCtrl">
                        <div class="fl">
                        <div class="select">
                            <select ng-model="filter" name="search" id="search" class="form-control">
                                <option value="1">材料名称</option>
                            </select>
                        </div>
                        <div class="search-group">
                            <i class="fa fa-search"></i>
                            <input type="text" ng-model="search_text" class="input-group" placeholder="请输入搜索内容">
                        </div>
                        <div class="btn btn-search" ng-click="search()">
                            搜索
                        </div>
                        </div>
                        <!--<div class="page">-->
                            <!--<ul>-->
                                <!--<li>-->
                                    <!--1-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--2-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <div class="loading"></div>
                    <div class="table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    材料名称
                                </th>
                                <th>
                                    材料模板下载链接
                                </th>
                                <th>
                                    材料是否必需
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key,value) in dataObj" data-index="{{$index}}">
                                <td class="file-title">
                                    {{dataObj[$index].title}}
                                </td>
                                <td class="file-href">
                                    <a ng-href="dataObj.url">
                                        {{dataObj[$index].url}}
                                    </a>
                                </td>
                                <td class="file-is-need">
                                    {{ dataObj[$index].is_need ? '是' : '否'}}
                                </td>
                                <td class="file-operator">
                                    <div class="btn-group">
                                        <div class="btn btn-green" ng-click="edit($index)">
                                            修改
                                        </div>
                                        <div class="btn btn-danger" ng-click="del($index)">
                                            删除
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!--<tr>-->
                                <!--<td class="file-logic-id">-->
                                    <!--120405-->
                                <!--</td>-->
                                <!--<td class="file-title">-->
                                    <!--个人身份证明-->
                                <!--</td>-->
                                <!--<td class="file-href">-->
                                    <!--<a href="http://mrbian.com/dist/upload/file-123445.doc">-->
                                        <!--http://mrbian.com/dist/upload/file-123445.doc-->
                                    <!--</a>-->
                                <!--</td>-->
                                <!--<td class="file-is-need">-->
                                    <!--是-->
                                <!--</td>-->
                                <!--<td class="file-operator">-->
                                    <!--<div class="btn-group">-->
                                        <!--<div class="btn btn-green">-->
                                            <!--修改-->
                                        <!--</div>-->
                                        <!--<div class="btn btn-danger">-->
                                            <!--删除-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="ModalCtrl" class="my-modal on ">
        <div class="my-modal-content">
            <div class="my-modal-content-header-panel">
                <div class="my-modal-content-header-title">
                    材料上传
                </div>
                <div class="cancel">
                </div>
            </div>
            <div class="my-modal-content-body padding-top-8">
                <form action="">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-md-3 control-label">
                                材料名称：
                            </label>
                            <div class="col-md-8">
                                <input type="text" name="name" ng-model="title" ng-pattern="/^.+$/" class="form-control" id="name"
                                       placeholder="请输入材料名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-3 control-label">
                                是否必需：
                            </label>
                            <div class="col-md-2 padding-top-8">
                                <div class="col-md-1">
                                    <label>是&nbsp;</label>
                                </div>
                                <input ng-model="is_need" value="yes" type="radio" name="is_need">
                            </div>
                            <div class="col-md-3 padding-top-8">
                                <div class="col-md-1">
                                    <label>否&nbsp;</label>
                                </div>
                                <input ng-model="is_need" value="no" type="radio" name="is_need" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="picker" class="col-md-3 control-label">
                                模板文件上传:
                            </label>
                            <div class="col-md-3">
                                <div id="picker">
                                    选择文件
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url" class="col-md-3 control-label">
                                模板文件下载地址
                            </label>
                            <div class="col-md-8">
                                <input type="text" ng-model="url" class="form-control" name="url" id="url" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-group-container">
                                <div class="btn" ng-click="submit()"><i class="fa fa-check"></i>确认</div>
                                <div class="btn btn-danger" ng-click="hide()"><i class="fa fa-remove"></i>取消</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="my-modal-backdrop on">
    </div>
</div>
<% block 'scripts': %>
<script src="/dist/admin-set-material-kind.js"></script>
<% end %>