<% extend './admin_shared/admin-base' %>
<% block 'head': %>
<link rel="stylesheet" href="/dist/user-form.css"/>
<% end %>
<div ng-controller="formController" id="main">
    <div class="title">
        <i class="fa fa-pencil"></i>
        <span>提交申请书</span>
    </div>
    <!--<form method="POST" action="/user/form">-->
    <!-- 权利类型 -->
    <div id="all">
        <div class="form-select">
            <div class="dropdown form-span" role="presentation">
                <button class="btn btn-default li-btn" id="power-type" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!--选择权利类型-->
                    {{power_button}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="power-type">
                    <li><a href="javascript:;" ng-click="changePowerButton(TYPE.POWER, power_types[$index])"
                    ng-repeat="power_type in power_types">{{ power_type }}</a></li>
                </ul>
            </div>

            <!-- 登记大类 -->
            <div class="dropdown animation-if form-span" role="presentation" ng-if="show.register1">
                <button class="btn btn-default li-btn" id="register-type-1" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{register_button1}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="register-type-1">
                    <li><a href="javascript:;" ng-click="changePowerButton(TYPE.REGISTER1, register_types1[$index])"
                           ng-repeat="register_type in register_types1">{{ register_type }}</a></li>
                </ul>
            </div>

        <!-- 登记小类 -->
            <div class="dropdown animation-if form-span" role="presentation"
                 ng-if="show.register2">
                <button class="btn btn-default li-btn" id="register-type-2" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{register_button2}}
                    <span class="caret"></span>
                </button>


                <ul class="dropdown-menu" aria-labelledby="register-type-2">
                    <li><a href="javascript:;" ng-click="changePowerButton(TYPE.REGISTER2, register_types2[$index])"
                           ng-repeat="register_type in register_types2">{{ register_type }}</a></li>
                </ul>
            </div>
        </div>

        <table class="table table-bordered animation-if form-table" ng-if="show.uploader">
            <thead>
                <tr>
                    <td>项目</td>
                    <td>是/否必须</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file_item in file_items">
                    <td>
                        {{file_item.name}}
                    </td>
                    <td>
                        {{file_item.if_need ? '是': '否'}}
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm">上传</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--<div id="container" ng-class="show.uploader ? 'animation-if': 'close'">-->
            <!--<div class="picker-button">-->
                <!--<a href="javascript:;">-->
                    <!--<div id="picker">-->
                        <!--<i class="fa fa-plus"></i>-->
                        <!--选择文件-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="upload-note">-->
                <!--<p>直接把文件拖进这个框里也能上传哦</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-primary btn-lg animation-if form-button"-->
                <!--ng-if="show.uploader">上传</button>-->
    <!--</form>-->
    </div>
    <!--<div class="col-md-12" id="progress">-->

    <!--</div>-->

</div>
<% block 'scripts': %>
<script src="/dist/user-form.js"></script>
<% end %>