<% extend './admin_shared/admin-base' %>
<% block 'head': %>
<link rel="stylesheet" href="/dist/user-form.css"/>
<% end %>
<div ng-controller="formController" id="main">
    <div class="title">
        <i class="fa fa-pencil"></i>
        <span>提交申请书</span>
    </div>
    <div id="all">
        <div class="section">
            <div class="content-search">
                <label>
                    <input type="text" placeholder="查询" class="form-control" ng-model="search"/>
                    <i class="fa fa-search"></i>
                </label>
                <button class="btn btn-sm" ng-click="searchItem()">
                    搜索
                </button>
            </div>
        </div>
        <div class="loading" ng-if="!loaded">
            <p>{{ loading }}</p>
        </div>
        <div class="form-select" ng-if="loaded">
            <div class="dropdown form-span" role="presentation">
                <button class="btn btn-default li-btn" id="power-type" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!--选择权利类型-->
                    {{button.power}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="power-type">
                    <li ng-repeat="power_type in insert_data.power">
                        <a href="javascript:;"
                           ng-click="changePowerButton(TYPE.POWER, insert_data.power[$index])">
                            {{ power_type.title }}
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 登记大类 -->
            <div class="dropdown animation-if form-span" role="presentation"> <!--ng-if="show.register1" -->
                <button class="btn btn-default li-btn" id="register-type-1" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{button.register1}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="register-type-1">
                    <li ng-repeat="register_type in insert_data.register1">
                        <a href="javascript:;"
                           ng-click="changePowerButton(TYPE.REGISTER1, insert_data.register1[$index])">
                            {{ register_type.title }}
                        </a>
                    </li>
                </ul>
            </div>

        <!-- 登记小类 -->
            <div class="dropdown animation-if form-span" role="presentation">
                 <!--ng-if="show.register2">-->
                <button class="btn btn-default li-btn" id="register-type-2" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{button.register2}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="register-type-2">
                    <li ng-repeat="register_type in insert_data.register2">
                        <a href="javascript:;"
                           ng-click="changePowerButton(TYPE.REGISTER2, insert_data.register2[$index])">
                            {{ register_type.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div>
            <table class="table table-bordered animation-if form-table" ng-if="loaded">
                <!--<ng-if="show.uploader">-->
                <thead>
                    <tr>
                        <td>项目</td>
                        <td>是/否必须</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file_item in insert_data.file_items">
                        <td>
                            {{file_item.title}}
                        </td>
                        <td>
                            {{file_item.is_need ? '是': '否'}}
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm uploader">上传</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% block 'scripts': %>
<script src="/dist/user-form.js"></script>
<% end %>