<!DOCTYPE html>
<html lang="en">
<head>
    <% include './admin_shared/head.html' %>
    <% content 'head' %>
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/26013/45803/5772769bf629d81030672da1.css' rel='stylesheet' type='text/css' />
</head>
<body>
<% ctx = require('../../../instances/context.js').get() %>
<% currentUser = ctx.current.user %>
<div id="wrapper">
    <% include './admin_shared/header.html' , {currentUser : currentUser} %>
    <% include './admin_shared/sidebar.html', {currentUser : currentUser} %>
    <div id="page-wrapper" class="main-content">
        <% content %>
    </div>
</div>
<footer>
    <span>&copy;&nbsp;2016年7月&nbsp;&nbsp;&nbsp;</span>
</footer>
</body>
<script type="text/plain" id="num">3</script>
<script src="/dist/admin-commons.js"></script>
<!--<script src="http://localhost:9000/webpack-dev-server.js"></script>-->
<!--<script src="http://192.168.1.101:9000/webpack-dev-server.js"></script>-->
<!--<script src="http://192.168.59.116:9000/webpack-dev-server.js"></script>-->
<!--<script src="http://192.168.24.105:9000/webpack-dev-server.js"></script>-->
<% content 'scripts' %>
</html>