<nav id="menu" class="nav navbar-default navbar-fixed-side hidden-xs">
    <div class="sidebar-collapse collapse in">
        <ul class="nav" id="side-menu">
            <li class="sidebar-user">
                <div class="user-img">
                    <img src="/upload/image/head.jpg" alt="头像" class="img-responsive img-circle head-image">
                </div>
                <div class="user-info">
                    <span class="welcome">&nbsp;你好</span><p></p>
                    <span class="user-name">卞留念</span><p></p>
                    <p><span class="user-state label">已认证 <i class="fa fa-check"></i></span></p>
                </div>
            </li>
            <li class="sidebar-search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索"/>
                    <span class="input-group-btn">
                        <button class="btn btn-inverse"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </li>
            <li class="">
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span class="info">首页</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-gears"></i>
                    <span class="info">图表控件</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span class="info">硬件管理</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-upload"></i>
                    <span class="info">上传</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-download"></i>
                    <span class="info">下载</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
