<nav id="menu" class="nav navbar-default navbar-fixed-side hidden-xs">
    <div class="sidebar-collapse collapse in">
        <ul class="nav" id="side-menu">
            <li class="sidebar-user">
                <div class="user-img">
                    <img src="/head.jpg" alt="头像" class="img-responsive img-circle head-image">
                </div>
                <div class="user-info">
                    <span class="welcome">&nbsp;你好</span><p></p>
                    <span class="user-name"><%= @currentUser?.account %></span><p></p>
                    <p><span class="user-state label">已认证 <i class="fa fa-check"></i></span></p>
                </div>
            </li>
            <li class="sidebar-search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索"/>
                    <span class="input-group-btn">
                        <button class="btn btn-inverse"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </li>
            <li class="">
                <a href="/index">
                    <i class="fa fa-home"></i>
                    <span class="info">首页</span>
                </a>
            </li>
            <% if @currentUser.type == 100 : %>
            <li class="">
                <a href="/admin/set_business_kind">
                    <i class="fa fa-folder"></i>
                    <span class="info">登记大类设置</span>
                </a>
            </li>
            <li class="">
                <a href="/admin/set_small_business_kind">
                    <i class="fa fa-folder-o"></i>
                    <span class="info">登记小类设置</span>
                </a>
            </li>
            <li class="">
                <a href="/admin/set_material_kind">
                    <i class="fa fa-file-word-o"></i>
                    <span class="info">登记材料种类设置</span>
                </a>
            </li>
            <% end %>
            <% if @currentUser.type == 0 : %>
            <li>
                <a href="/user/form">
                    <i class="fa fa-cloud-upload"></i>
                    <span class="info">业务申请</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-list-alt"></i>
                    <span class="info">业务列表</span>
                </a>
            </li>
            <% end %>
            <% if @currentUser.type == 1 : %>
            <li>
                <a href="#">
                    <i class="fa fa-list-alt"></i>
                    <span class="info">一审列表</span>
                </a>
            </li>
            <% end %>
            <% if @currentUser.type == 2 : %>
            <li>
                <a href="#">
                    <i class="fa fa-list"></i>
                    <span class="info">二审列表</span>
                </a>
            </li>
            <% end %>
            <% if @currentUser.type == 3 : %>
            <li>
                <a href="#">
                    <i class="fa fa-list-ol"></i>
                    <span class="info">三审列表</span>
                </a>
            </li>
            <% end %>
            <% if @currentUser.type == 4 : %>
            <li>
                <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span class="info">登簿列表</span>
                </a>
            </li>
            <% end %>
            <% if @currentUser.type == 5 : %>
            <li>
                <a href="#">
                    <i class="fa fa-list-ul"></i>
                    <span class="info">缮证管理</span>
                </a>
            </li>
            <% end %>
            <% if @currentUser.type == 6 : %>
            <li>
                <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span class="info">档案管理</span>
                </a>
            </li>
            <% end %>
            <li>
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span class="info">个人信息设置</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
