<nav id="menu" class="nav navbar-default navbar-fixed-side hidden-xs">
    <div class="sidebar-collapse collapse in">
        <ul class="nav" id="side-menu">
            <li class="sidebar-user">
                <div class="user-img">
                    <img src="/head.jpg" alt="头像" class="img-responsive img-circle head-image">
                </div>
                <div class="user-info">
                    <span class="welcome">&nbsp;你好</span><p></p>
                    <span class="user-name"><%= @currentUser?.account %></span><p></p>
                    <p><span class="user-state label">已认证 <i class="fa fa-check"></i></span></p>
                </div>
            </li>
            <li class="sidebar-search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索"/>
                    <span class="input-group-btn">
                        <button class="btn btn-inverse"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </li>
            <li class="" style="margin-top:10px;">
                <!--<a href="/admin/index">-->
                    <!--<i class="fa fa-home"></i>-->
                    <!--<span class="info">首页</span>-->
                <!--</a>-->
            </li>
            <% if @currentUser.type == 100 : %>
            <li class="">
                <a href="/admin/base_protect">
                    <i class="fa fa-cube"></i>
                    <span class="info">基本防御设置</span>
                </a>
            </li>
            <% end %>
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-user"></i>-->
                    <!--<span class="info">个人信息设置</span>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</nav>
